<ion-header>
  <ion-navbar>
    <ion-title>
      Acerca de
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col width-100>
        <ion-list>
          <ion-item>
            <strong>Nombre de la app: </strong> USC App
          </ion-item>
          <ion-item>
            <strong>Versión: </strong> 0.1
          </ion-item>
          <ion-item>
            <strong>Descripción: </strong> Aplicación de preguntas
          </ion-item>
          <ion-item>
            <strong>Creado por: </strong> COMBA
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
