<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Inicio" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Acerca de" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Configuración" tabIcon="cog"></ion-tab>
</ion-tabs>
