<ion-header>

  <ion-navbar>
    <ion-title>USC</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
   <ion-grid>
    <ion-row align-items-center>
      <ion-col class="center" align-self-center>       
        <h2 class="feedback">
          {{(answerIsCorrect === true) ? "Correcto!" : "Respuesta equivocada!"}}
        </h2>
        <ion-img *ngIf="answerIsCorrect === false"
          width="150" height="150" src="http://cdn.usc.edu.co/images/logo.png">
        </ion-img>
        <ion-img *ngIf="answerIsCorrect === true"
          width="150" height="150" src="http://cdn.usc.edu.co/images/logo.png">
        </ion-img>
        <h5 class="feedback" *ngIf="answerIsCorrect === false">
          La respuesta correcta es<br> "{{correctAnswer}}"
        </h5>
        <div class="center">
          <button ion-button (click)="nextQuiz()">
            {{(currentIndex+1 === totalQuizNum) ? "Muestrame como lo hice!" : "Siguiente pregunta!"}}
          </button>
        </div>
      </ion-col>    
    </ion-row>
  </ion-grid>
</ion-content>
