<ion-header>

  <ion-navbar>
    <ion-title>USC</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid *ngIf = "results">
    <ion-row>
      <ion-col width-50 offset-25>       
        <h2 class="feedback">
          Tus resultados
        </h2>
        <h1>
            Tienes {{correctTotal}} de {{quizTotal}}!
        </h1>
        <p *ngIf="correctTotal === quizTotal">
          Eres un experto en la Universidad Santiago de Cali
        </p>
        <p *ngIf="correctTotal/quizTotal >= .75">
          Casi consigues una puntuación perfecta ¡sigue así!
        </p>
        <p *ngIf="correctTotal/quizTotal < .75">
          ¡Puedes hacerlo! Tal vez intentes jugar de nuevo?
        </p>
        <ion-list>
          <ion-item *ngFor="let result of results">
            Respuesta correcta: {{result.correctAnswer}}
            
            Tu respuesta: {{result.yourAnswer}}
          </ion-item>  
        </ion-list>
        <div class="center">
          <button ion-button (click)="backHome()">Volver al Inicio</button>
        </div>
        <div class="center">
          <button ion-button (click)="restart()">Volver a intentar con las mismas preguntas</button>
        </div>  
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
