<ion-header>
  <ion-navbar>
    <ion-title>USC</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >
  <ion-grid class="home">
    <ion-row align-items-center>
      <ion-col align-self-center>
        <ion-img width="150" height="150" src="http://cdn.usc.edu.co/images/logo.png"></ion-img>
        <h2 class="question">Bienvenido a la aplicación de la universidad Santiago de Cali</h2>
          <button ion-button (click)="start()">Iniciar</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
