<ion-header>

  <ion-navbar>
    <ion-title>Configuración</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col width-100>
        <ion-list>
          <form (ngSubmit)="saveForm()">
            <!-- category -->
            <ion-item>
              <ion-label>Categoría</ion-label>
              <ion-select [(ngModel)]="category" name="catergory" value="number">
                <ion-option value=1 >USC</ion-option>
              </ion-select>
            </ion-item>
            <!-- difficulty -->
            <ion-item>
              <ion-label>Dificultad</ion-label>
              <ion-select [(ngModel)]="difficulty" name="difficulty" value="string">
                <ion-option value="easy">Fácil</ion-option>
                <ion-option value="medium">Medio</ion-option>
                <ion-option value="hard">Difícil</ion-option>
              </ion-select>
            </ion-item>
            <!-- number of quizzes -->
            <ion-item>
              <ion-label>
                Número de preguntas
              </ion-label>
              <ion-input [(ngModel)]="quizNum" name="quizNum" type="number"></ion-input>
            </ion-item>
            <button ion-button type="submit" block>Guardar</button>
          </form>
        </ion-list>  
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

            