
$font-path: "../assets/fonts";

$app-direction: ltr;

@import "ionic.globals";

$colors: (
  primary:    #5E6B62,
  secondary:  #58A7EC,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

// Top Toolbar
$toolbar-md-background: color($colors, light);

// Bottom- bar
$tabs-md-background: color($colors, secondary);
$tabs-md-tab-color-active: color($colors, light);
$tabs-md-tab-color:color($colors, light);
$tabs-md-tab-text-color: color($colors, light);

$list-md-background-color: color($colors, light);
$list-md-text-color:color($colors, primary);

@import "ionic.theme.default";

@import "ionic.ionicons";

@import "roboto";
@import "noto-sans";
